$padding-0: 0;
$margin-0: 0;
$color-yellow: #FFF748;
$color-purple: #3c1AB5;
$color-white: #FFF;
$color-red: #4392F1;

$box-shadow-bottom: 0 4px 6px 0 #31393C;
$box-shadow-bottom-right: 2px 2px 6px 2px #31393C;