@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #edf5e1;
  margin-top: 2%;
  line-height: 150%;
}
#main-container {
  width: 85%;
  background-color: #5cd595;
  margin: auto;
}
main {
  width: 100%;
  margin: auto;
  color: #05386b;
}

.header-footer {
  background-color: #05386b;
  width: 100%;
  margin: auto;
}

#profile-title {
  height: 80px;
  line-height: 80px;
}

#profile-title h1 {
  margin: auto;
}

#profile-title img {
  float: right;
  background-color: #fff;
  width: 150px;
  height: 150px;
  max-width: 80%;
  border: 1px solid #353535;
  padding: 4px;
  box-shadow: 0 4px 8px 0 #353535, 0 6px 20px 0 #353535;
}

#profile-title img {
  margin-right: 1%;
  margin-top: -12px;
}

#assignment-links {
  margin: 15px;
}

#assignment-links h2 {
  border-bottom: 2px solid #05386b;
  padding-bottom: 2px;
  box-shadow: 2px 2px 2px 1px #8ee4af;
}

.text-center {
  text-align: center;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer-info a,
#footer-info span {
  color: #e0e0e2;
}

#footer-last-modified {
  font-size: 13px;
  color: #5cd55c;
}
