/* Desktop */
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 32.5% 32.6% 32.5%;
        grid-gap: 2px;
        margin-bottom: 6px;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }
}