/* Tablet */
@media only screen and (min-width: 37.5em) {
    body {
        width: 100%;
    }

    .five-day-forecast {
        display: block;
    }

    .google-map {
        order: 1;
        display: block;
    }

    .google-map iframe {
        border: 0;
        width: 100%;
        height: 400px;
    }

    .main-contact-info {
        order: 2;
    }

    .gallery-images {
        grid-template-columns: 1fr 1fr;
    }

    /* index.html */
    .cards {
        grid-template-columns: 1fr;
        row-gap: 3px;
    }

    .cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: solid 1px #121619;
    }

    .cards .desc_container {
        order: 2;
        margin: auto 0;
        width: 50%;
    }

    .cards .desc_container h2,
    .cards .desc_container p {
        text-align: left;
        margin-left: 15px;
    }

    .cards .img_container {
        text-align: right;
        order: 1;
    }
}