/*@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");*/

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #feffff;
  margin: auto;
  color: #feffff;
}

#friday-banner {
  position: absolute;
  display: none;
  color: #ffff00;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  top: 1px;
  background: rgba(23, 37, 42, 0.2);
  width: 100%;
}

footer,
header {
  background-color: #287a78;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/*header {
  background-image: url("grass.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/

header img {
  max-width: 100px;
}

header,
nav,
main,
footer {
  margin: 0 auto;
}

footer {
  flex-direction: column;
}

footer div {
  margin: 2px;
}

.site-motto {
  font-style: italic;
  color: #ffff00;
}

header div h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

header div:nth-child(2) {
  margin-bottom: 10px;
}

footer {
  padding: 20px;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

nav {
  margin: 0 auto;
  /*max-width: 760px;*/
  background-color: #17252a;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav li:first-child {
  display: block;
  color: #ffff00;
}

nav li:first-child a {
  color: #ffff00;
}

nav li {
  display: none;
}

nav li a {
  display: block;
  color: #feffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

nav a:hover {
  color: #ffff00;
  background: #1d71f2;
}

nav li:hover {
  background: #1d71f2;
}

.active,
.active a {
  color: yellow;
  background-color: #172429;
}

.responsive li {
  display: block;
  color: #ffff00;
}

h2,
h3 {
  margin-top: 0;
}

main {
  color: #17252a;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 12px;
  /*background-color: #def2f1;*/
  background-color: #FFF;
}

.gallery-images {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

/*.gallery-images div picture {
  position: relative;
  width: 100%;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px blue;
}*/

.picture-container {
  position: relative;
  width: 100%;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-images picture img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  filter: blur(0em);
  transition: filter 0.5s;
}

.img-desc {
  visibility: hidden;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

/*.gallery-images picture img[data-src] {
  filter: blur(0.2em);
}*/

.banner-summary {
  position: relative;
  margin: 4px;
  border: 1px solid #17252a;
  max-height: 100%;
  min-height: 200px;
}

.banner-summary img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 200px;
  padding: 0;
  margin: 0 auto;
}

.banner-summary h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.banner-summary-content table {
  border: none;
  width: 100%;
}

.banner-summary-content table td:first-child {
  text-align: right;
}

.banner-summary-content table td:nth-child(2) {
  width: 45%;
  color: yellow;
}

.banner-summary-content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.banner-summary-content-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 4px;
}

.text-align-right {
  text-align: right;
}

.weather-summary {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(23, 37, 42, 0.7);
  width: 180px;
  color: #def2f1;
  padding: 10px;
  box-shadow: 0 0 2px 1px rgba(222, 242, 241, 0.7);
}

.weather-summary h3 {
  border-bottom: 1px solid #def2f1;
}

.content-box {
  border: solid 1px #17252a;
  margin: 4px;
}

.five-day-forecast {
  border: none;
  display: none;
}

.five-day-forecast img {
  width: 80px;
  height: 80px;
}

.five-day-forecast table {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #17252a;
  border-collapse: collapse;
}

.five-day-forecast table td {
  border: 1px solid #17252a;
  border-collapse: collapse;
  text-align: center;
  padding: 4px;
}

.five-day-forecast table th {
  background-color: #17252a;
  color: #feffff;
  padding: 4px;
}

.article-content h3 {
  padding: 0;
  margin: 0;
}

.article-image {
  min-width: 300px;
  min-height: 300px;
}

.google-map {
  order: 2;
  display: none;
}

.main-contact-info {
  order: 1;
}

.contact-info {
  margin: auto auto;
}

.contact-info img {
  width: 30px;
  height: 30px;
}

.contact-info h3,
.contact-info p {
  margin: 0;
  padding: 2px;
}

.text-primary-color {
  background-color: #feffff;
}

.text-secondary-color {
  background-color: #17252a;
  color: #feffff;
}

.primary-color {
  background-color: #17252a;
}

.secondary-color {
  background-color: #2b7a78;
}

.tertiary-color {
  background-color: #3aafa9;
}

.tertiary-color-2 {
  background-color: #def2f1;
}

.tertiary-color-3 {
  background-color: #feffff;
}

.gray {
  color: gray;
}

.no-underline {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.navigation .text-roboto {
  font-family: "Roboto", sans-serif;
}

.text-ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 15px;
}

.text-large {
  font-size: 20px;
}

.font-bold {
  font-weight: bold;
}

.m-auto {
  margin: 0 auto;
}

p {
  text-align: justify;
}

/* Storm Center */
.main-container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  color: #16252A;
}

.main-container h3 {
  text-align: center;

}

.form-storm-center fieldset {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #17252A;
  margin-bottom: 20px;
  margin-top: 10px;
}

.form-storm-center fieldset legend {
  font-weight: bold;
}


.form-storm-center label,
.form-storm-center input,
.form-storm-center select,
.form-storm-center textarea {
  display: block;
  padding: 5px;
}

.form-storm-center input,
.form-storm-center select,
.form-storm-center button,
.form-storm-center textarea {
  padding: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
  margin-top: 10px;
}

.form-storm-center input[type="text"],
.form-storm-center input[type="tel"],
.form-storm-center input[type="number"],
.form-storm-center input[type="email"],
.form-storm-center textarea {
  width: 100%;
  display: block;
  background-color: #DDDDDD;
}

.form-storm-center input[type="range"] {
  width: 50%;
  display: block;
}

.form-storm-center input[type="date"] {
  background-color: #DDDDDD;
}

.form-storm-center input[type="radio"] {
  display: inline;
}

.form-storm-center input[type="submit"] {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  background-color: #5b7bc0;
  color: #FFF;
}

.form-storm-center input[type="submit"]:hover {
  background-color: green;
}

.form-storm-center fieldset:not(:nth-child(3)) label {
  margin-top: 10px;
}

.form-storm-center fieldset:nth-child(3) label,
.form-storm-center fieldset:nth-child(3) input {
  margin-top: 4px;
  padding: 0;
}

.form-storm-center input[type="text"]:focus,
.form-storm-center input[type="email"]:focus,
.form-storm-center input[type="number"]:focus,
.form-storm-center input[type="tel"]:focus,
.form-storm-center textarea:focus,
.form-storm-center input[type="date"]:focus,
.form-storm-center select:focus {
  border: solid 1px gray;
  background-color: #e0e0e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px rgba(82, 168, 236, .8);
  outline: none;
}

/*.form-storm-center input:hover {
  background-color: #62ACB5;
}*/

.form-storm-center input[type="text"]:valid,
.form-storm-center input[type="email"]:valid,
.form-storm-center input[type="number"]:valid,
.form-storm-center input[type="tel"]:valid,
.form-storm-center textarea:valid,
.form-storm-center input[type="date"]:valid,
.form-storm-center select:valid {
  border-left: solid 5px green;
}

.form-storm-center input[type="text"]:invalid,
.form-storm-center input[type="email"]:invalid,
.form-storm-center input[type="number"]:invalid,
.form-storm-center input[type="tel"]:invalid,
.form-storm-center textarea:invalid,
.form-storm-center input[type="date"]:invalid,
.form-storm-center select:invalid {
  border-left: solid 5px red;
}

em {
  font-size: smaller;
}

/* index.html */
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

.cards section {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #CCDAD1;
  border: solid 1px #121619;
  font-family: 'Roboto', sans-serif;
}

.cards h2,
.cards p,
.cards img {
  padding: 0;
  margin: 0;
  text-align: center;
}

.cards h2 {
  margin-top: 10px;
  margin-bottom: 6px;
  color: #1C7C54;
}

.cards p {
  margin-bottom: 2px;
  color: #121619;
}

.cards img {
  width: 180px;
  height: 220px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: -4px;
  box-shadow: 2px 2px 8px #121619;
}