html,
body {
    /*background-image: url('../img/rome-italy-temple-2190090-wallpaper.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
    /*background: #1c92d2;*/
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #17252a, #3aafa9);*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #3aafa9, #2B7A7B);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 100%;
    color: $font-color;
    height: 100%;
}

body {
    /*background-image: url('../img/rome-italy-temple-2190090-wallpaper.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #999;
    margin: 0;
    padding: 0;
    display: grid;
    /*grid-template-columns: 75% 25%;*/
    grid-template-columns: 100%;
    grid-template-rows: fit-content(115px) fit-content(100%) fit-content(100%);
    grid-row-gap: 0;
    grid-gap: 0;
    /*overflow-x: hidden;*/
}

header,
footer {
    grid-column: 1 / span 2;
}

/*header
main,
aside,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

header {
    .company {
        h1 {
            margin: 0;
            margin-top: 20px;
        }

        p {
            margin: 0;
            margin-bottom: 20px;
            font-size: 14px;
        }
    }
}

nav {
    background: $bg-rgba;
    display: grid;
    padding: 10px;
    grid-template-columns: 15% 45% 40%;

    >ul>li:first-child {
        display: none;
    }

    >a {
        margin: auto 0;
    }

    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding-left: 0;
        margin: auto 0;
        background: transparent;
        list-style: none;
        text-align: right;
    }

    ul li {
        display: block;
    }

    li {
        color: $font-color-yellow;
        background: transparent;
        display: inline-block;
        /*float: left;*/
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }


    li a {
        color: $font-color-yellow;
    }

    li:hover {
        background: red;
        cursor: pointer;
    }

    ul li ul {
        /*background: $bg-rgba;*/
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
        text-align: left;
    }

    ul li:hover>ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 10rem;
    }

    ul li ul li {
        background: $bg-rgba;
        clear: both;
        width: 100%;
        z-index: 1000;
    }

    ul li ul li:last-child {
        padding-bottom: 15px;
    }
}

/* Main */

main.main-temples,
main.main-contact-page,
main.main-home,
main.main-reservation,
main.main-services-reception,
main.main-services-temple-missionary,
main.main-services {
    .slideshow-container img {
        height: 400px;
    }
}

main.main-temples {
    margin-bottom: 10px;
}

main.main-reservation,
main.main-contact-page {
    margin: 0;
    /*border: solid 1px #74B3CE;*/

    .reservation {
        width: 50%;
        margin-bottom: 10px;
        border: solid 1px #74B3CE;
        padding: 20px;
        margin-top: 10px;
    }

    .contact-page {
        border: solid 1px #74B3CE;
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 10px;
        width: auto;
        padding: 20px;

        h1 {
            grid-column: 1 / span 2;
        }
    }
}

main.main-services,
main.main-services-temple-missionary,
main.main-services-reception {

    h1 {
        color: $font-color-yellow;
    }

    .contact-us {
        margin: auto 0;
        width: 100%;

        .container-contact-us {
            margin: 0 auto;
            width: 50%;
        }
    }

    .services {
        border: solid 1px #74B3CE;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        margin: 10px;
        width: auto;
        padding: 20px;
        background-color: $bg-rgba;
        box-shadow: $box-shadow;

        ul {
            margin: 0;
            padding-left: 17px;

            li {
                padding: 5px;
            }
        }

        section:last-child div>div {
            border: none;
        }

        div.amenities,
        div.specialized-services {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .container {
                position: relative;
                text-align: center;
            }

            div.top-left {
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: auto;
                width: 100%;
                background-color: $bg-rgba;
                color: $font-color;
                border-bottom: 4px solid $font-color-yellow;
            }

            h3 {
                text-align: center;
            }

            img {
                width: 100%;
                height: 300px;
                box-shadow: $box-shadow;
            }
        }
    }
}

/* IMPORTANT: Troubleshooting horizontal overflow
.slide-content .scroller {
    width: 1024px;
}

* {
    border: 1px solid #f00 !important;
}*/

main.main-home {

    .tagline-temple {
        grid-template-columns: 1fr 1fr;
        margin: 10px;
        margin-top: 10px;

        .tagline {
            img {
                width: 200px;
                height: 100px;
                margin-left: 20px;
            }

            h1 {
                background-color: $font-color-yellow;
                padding: 20px;
                color: $font-color-registration-black;
            }

            h3 {
                padding-left: 20px;
            }

            input[type=submit] {
                margin-left: 20px;
                width: auto;
            }
        }

    }


}

main {

    /* temples */

    >h1 {
        color: $font-color-yellow;
    }

    .temples>div {
        margin-top: 0;
        margin-bottom: 0;
    }

    .temples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin-top: 10px;
    }

    .temples section img {
        width: 100%;
        height: 150px;
        border-top: 1px solid #FEFFFF;
        border-bottom: 1px solid #FEFFFF;
    }

    .temples section {
        background-color: $bg-rgba-dodger-blue;
        text-align: center;
        box-shadow: $box-shadow;
        color: $font-color;
    }

    .temples section h3 {
        background-color: $bg-temples-header;
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .temples section div {
        text-align: justify;
        padding: 20px;
        color: $font-color-registration-black;
    }
}

.aside {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    padding-top: 18px;
    /*padding-right: 10px;*/
    /*grid-template-columns: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;*/

    section {
        margin-bottom: 10px;

        iframe {
            display: block;
            width: 100%;
            /*box-shadow: $box-shadow;*/
            height: 400px;
        }
    }

    h3,
    h4,
    p {
        margin: 0;
        margin-bottom: 5px;
    }

    img {
        width: 50px;
        height: 50px;
    }

    .details-contact-information {
        div {
            /*background-color: $bg-rgba;*/
            padding: 10px;
            border-right: none;
            border-left: none;
            border-top: none;
            /*box-shadow: $box-shadow;*/
        }

        h3 {
            color: $font-color-yellow;
        }

        p,
        h3 {
            text-align: center;
        }
    }
}

footer {
    position: relative;
}

/* 
https://coolors.co/083d77-001021-1e4e83-ffbc42-d81159

https://uigradients.com/#Jodhpur
https://visme.co/blog/website-color-schemes/ Clean and Modern
http://clipart-library.com/clipart/rTjKkp4Gc.htm temple logo FFD23F

https://css-tricks.com/snippets/css/css-grid-starter-layouts/
https://medium.com/@elad/becoming-a-css-grid-ninja-f4c6db018cc1
*/