.slideshow-wrapper {
    img {
        height: 350px;
    }
}

main.main-services,
main.main-services-temple-missionary,
main.main-services-reception {
    .services {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

main.main-temples,
main.main-contact-page,
main.main-home,
main.main-reservation,
main.main-services-reception,
main.main-services-temple-missionary,
main.main-services {
    margin-bottom: 10px;

    .reservation,
    .temples {
        margin-top: 10px;
    }
}

main {

    /*temples*/
    .temples {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

main.main-home {
    .temple {

        div {
            top: 10px;
            left: 10px;
            width: 40%;
        }
    }
}

aside {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;

    section {
        margin-bottom: 20px;

        iframe {
            display: block;
            width: 100%;
            box-shadow: $box-shadow;
            height: 200px;
        }
    }
}

main.main-attribution {
    width: 80%;
    border: 1px solid $border-bright-navy-blue;
    box-shadow: $box-shadow;
    margin-top: 10px;
}