html {
    font-size: 100%;
}

body {
    /*background-image: url('../img/rome-italy-temple-2190090-wallpaper.jpg');*/
    background: linear-gradient(to left, #3aafa9, #2B7A7B);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: $font-color-yellow;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    grid-row-gap: 0;
    grid-gap: 0;
}

header,
footer {
    grid-column: 1;
}

nav {
    display: grid;
    grid-template-columns: 1fr;

    .responsive li {
        display: block;
    }

    .logo {
        width: 145px;
        height: 25;
        margin: 0;
        padding: 0;
    }

    >ul>li:first-child {
        display: block;
    }

    ul {
        margin: 0;
        padding-left: 10px;
        background: transparent;
        list-style: none;
    }

    li {
        color: $font-color-yellow;
        background: transparent;
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 5px;
        transition-duration: 0.5s;
    }

    ul li ul li:last-child {
        padding-bottom: 0;
    }

    ul li {
        display: none;

        a {
            text-decoration: none;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content(100%);
    grid-row-gap: 0;
    grid-gap: 0;

    >div {
        margin-top: 0;
        padding: 0;
    }

    div.tagline-logo img {
        display: none;
        margin-left: $tagline-margin-left-small;
        width: 120px;
        height: 50px;
    }

    div.tagline-message {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        background-color: rgba($color: #fed23f, $alpha: 1);
        color: #000;
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: $box-shadow;

        p {
            margin: 0;
            margin-left: $tagline-margin-left-small;
            padding: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bold;
            font-size: 30px;
        }
    }

    div.tagline-invitation {
        margin-left: $tagline-margin-left-small;

        p {
            color: $font-color-tart;
            font-weight: bold;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    div.tagline-button {
        margin-left: $tagline-margin-left-small;

        button {
            background: $button-background;
            box-shadow: $box-shadow;
            /*background-image: -webkit-linear-gradient(top, #3aafa9, #2b7a78);
            background-image: -moz-linear-gradient(top, #3aafa9, #2b7a78);
            background-image: -ms-linear-gradient(top, #3aafa9, #2b7a78);
            background-image: -o-linear-gradient(top, #3aafa9, #2b7a78);*/
            background-image: $button-background-image-1;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            color: $font-color;
            font-size: 18px;
            font-weight: 100;
            padding: 15px;
            box-shadow: 1px 1px 20px 0px #000000;
            -webkit-box-shadow: 1px 1px 20px 0px #000000;
            -moz-box-shadow: 1px 1px 20px 0px #000000;
            text-shadow: 1px 1px 20px #000000;
            border: $button-border-1;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }

        button:hover {
            border: $button-border-2;
            background: $button-background;
            /*background-image: -webkit-linear-gradient(top, #2b7a78, #3aafa9);
            background-image: -moz-linear-gradient(top, #2b7a78, #3aafa9);
            background-image: -ms-linear-gradient(top, #2b7a78, #3aafa9);
            background-image: -o-linear-gradient(top, #2b7a78, #3aafa9);*/
            background-image: $button-background-image-2;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            text-decoration: none;
        }
    }
}

aside {
    section {
        margin-bottom: 20px;

        iframe {
            display: none;
            width: 100%;
            box-shadow: $box-shadow;
            height: 200px;
        }
    }

    h3,
    h4,
    p {
        margin: 0;
        margin-bottom: 5px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    .details-contact-information {
        color: $font-color;

        div {
            /*background-color: $bg-rgba;*/
            padding-left: 20px;
            /*border-top: 4px solid $font-color-yellow;*/
            /*box-shadow: $box-shadow;*/
        }

        h3 {
            color: $font-color-yellow;
        }

        p,
        h3 {
            text-align: left;
        }
    }
}

footer {
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $bg-rgba;
    text-align: center;
    display: flex;
    border-top: $border;

    >div {
        /*font-size: 1.6em;*/
        padding: 1rem 4rem;
        margin: 0 auto;
        display: flex;

        a,
        span {
            margin: auto 0;
            text-decoration: none;
        }

        a:visited {
            color: $font-color;
        }
    }
}