$font-color: #FEFFFF;
$font-color-tart: #FE4A49;
$font-color-yellow: #FFFF00;
$font-color-temple: #FEFFFF;
$font-color-registration-black: #090809;

/*$bg-rgba: rgba(30, 144, 255, 0.8);*/
/*$bg-rgba: rgba(23, 37, 42, 0.8);*/
/*$bg-rgba: rgba(28, 119, 195, 0.8);*/
$bg-rgba: rgba(8, 61, 119, 0.7);
$bg-rgba-dodger-blue: rgba(28, 119, 195, 0.8);


$border: solid 1px #DEF2F1;
$border-yellow: solid 1px #FFFF00;
$border-bright-navy-blue: #1C77C3;

$bg-temples-header: #083D77;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8),
0 6px 20px 0 rgba(0, 0, 0, 0.1);

$tagline-margin-left: 100px;
$tagline-margin-left-small: 20px;

$button-background: #FE4A49;
$button-border: #F06449;
$button-background-image-1: linear-gradient(to bottom, #F06449, #FE4A49);
$button-background-image-2: linear-gradient(to bottom, #FE4A49, #F06449);
$button-border-1: solid 1px #FE4A49;
$button-border-2: solid 1px #F06449;

/*https://coolors.co/1e90ff-000000-ffffff-b89e97-decccc*/